{% extends 'base.html' %}

{% block title %}
{{ movie.title }} - Movie Website
{% endblock %}

{% block content %}
    <h2>{{ movie.title }}</h2>
    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
    <p>{{ movie.description }}</p>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Actors: {{ movie.actors }}</p>
    <p>Category: {{ movie.category.name }}</p>
    <p><a href="{{ movie.youtube_trailer_link }}">Watch Trailer</a></p>

    <h3>Reviews</h3>
    <ul>
        {% for review in reviews %}
        <li>
            <p>Rating: {{ review.rating }}</p>
            <p>{{ review.comment }}</p>
            <p>By: {{ review.user.username }}</p>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'add_review' movie.id %}">Add a review</a></p>

    <!-- Add update and delete links -->
    <p><a href="{% url 'update_movie' movie.id %}">Update Movie</a></p>
    <p><a href="{% url 'delete_movie' movie.id %}" onclick="return confirm('Are you sure you want to delete this movie?');">Delete Movie</a></p>

    <p><a href="{% url 'home' %}">Back to Home</a></p>
{% endblock %}
